
<div class="col-md-12 pb-2 " style="border-bottom: solid 3px #cf3b76; ">
      <h1>Actualizar clasificación</h1>
</div>

<div class="col-md-12 pt-4">
<%= form_with(model: @clasificacion, id:'formulario_clasificaciones', url: clasificacion_actualizar_path, local: true) do |f|%>

	<%= render 'formulario', form: f %>


<% end %>
</div>	

