
<div class="col-md-12 pb-2 " style="border-bottom: solid 3px #cf3b76; ">
      <h1>Actualizar área de hospital</h1>
</div>

<div class="col-md-12 pt-4">

<%= form_with(model: @area, id:'formulario_areas', url: area_actualizar_path, local: true) do |f|%>

	<%= render 'formulario', area: @area, form: f %>

<% end %>	
</div>



