<div class="jumbotron text-center" style="margin-bottom:0">
	<div class="" >
		<img src="/assets/gobmex.png" alt="footerlogo">
	</div>
	<hr>
	<div class="">
		<a href="https://www.facebook.com/Salud.Edomex" class="fa fa-facebook"></a>
   		<a href="https://twitter.com/saludedomex?lang=es" class="fa fa-twitter"></a>
	</div>
   

</div>
